.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

// .gallery-box {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
//     gap: 16px;

//     border-radius: var(--corner-roundness);
//     box-shadow: var(--shadow-drop);
//     border-collapse: collapse;
//     padding: 12px;
//   }
  
//   .art-piece {
//     padding: 8px;
//     text-align: center;

//     border-radius: var(--corner-roundness);
//     box-shadow: var(--shadow-drop);
//     background-clip: padding-box, border-box; 
//     background-origin: border-box;
//     background-color: var(--color-primary);
//     background: linear-gradient(var(--color-blue-4) 0%, var(--color-primary) 50%, black);
//   }
  
//   .gallery-image {
//     max-width: 100%;
//     border-radius: var(--corner-roundness);
//     transition: transform 0.3s ease;
//   }
  
//   .gallery-image:hover {
//     transform: scale(1.05);
//   }
  
//   .gallery-caption h3 {
//     margin: 8px 0 4px;
//     font-size: 1.2rem;
//     color: var(--color-text-heading);
//   }

//   .gallery-caption p {
//     margin: 0;
//     font-weight: 700;
//     color: var(--color-accent);
//   }

//   .gallery-caption small {
//     color: var(--color-accent);
//     font-weight: 300;
//   }
  
// .gallery-box {
//     padding: 2rem;
//     display: inline-flex;
//     flex-wrap: wrap;
//     gap: 1rem;

//     border-radius: var(--corner-roundness);
//     box-shadow: inset 0px 0px 42px 0px rgba(0, 0, 0, 0.512);
//     border-collapse: collapse;

//     .art-piece {
//         border: 1px solid white;
//         padding: 1rem;
//         text-align: center;

//         img {
//             max-width: 100%;
//             height: auto;
//             transition: transform 0.64s ease-in-out;

//             &:hover {
// 				transform: scale(1.2);
//                 opacity: 1;
// 			}

//             &:focus {
//                 outline: solid 1.2px white;
//                 transform: scale(1.2);
//             }
//         }
//     }
// }

