// .project-box {
// 	display: grid;
// 	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
// 	gap: 16px;

// 	border-radius: var(--corner-roundness);
// 	box-shadow: var(--shadow-drop);
// 	border-collapse: collapse;
// 	padding: 12px;
// }

// .project-card {
// 	display: flex;
// 	flex-wrap: wrap;
// 	flex-direction: column;
// 	justify-content: space-around;
// 	align-items: center;
// 	align-content: space-around;
// 	padding: 1% 0.88em 1em 0.88em;
//     margin: 0.25em 0.88em 0.25em 0.88em;
// 	min-width: 8em;
// 	min-height: 16em;
//  }