img {
	opacity: 0.94;
	transition: transform 0.3s ease-in-out;

	&:hover {
		opacity: 1.0;
	}
}

svg {
    width: 100%;
    height: auto;
	transition: transform 0.3s ease;
}

.shape .svg-gradient-path {
	paint-order: stroke;
	stroke: #00044f;
	stroke-width: 1.42px;
	fill: url(#svg-shape-gradient);
	transition: transform 0.24s ease;
}

.shape:hover {
	transition: transform 0.08s ease;
	transform: scale(1.16);
}

.shape:active {
	transform: scale(1.87);
}

.shape .svg-gradient-path:hover {
    stroke: url(#svg-shape-gradient); /* or your desired hover effect */
    fill: black; /* optionally adjust the fill if needed */
}

.shape .svg-gradient-path-sub {
	// stroke: url(#svg-shape-gradient);
	fill: url(#svg-shape-gradient);
	&:hover {
		// stroke:url(#svg-shape-gradient);
		fill: white;
	}
}



// .shape:hover path, 
// .shape:hover rect, 
// .shape:hover circle, 
// .shape:hover polygon, 
// .shape:hover line, 
// .shape:hover ellipse {
//     stroke: url(#svg-shape-gradient); /* or your desired hover effect */
//     fill: none; /* optionally adjust the fill if needed */
// }

// .shape:hover .svg-gradient-path {
//     stroke: white;
// }
