@import "./globals.scss";

@import "./debug.scss";

@import "./gradients.scss";

@import "./animations.scss";

@import "./flex.scss";

@import "./buttons.scss";
@import "./images.scss";
@import "./text.scss";

@import "./cards.scss";

@import "./3d.scss";

// Root wrapper, set viewport height.
.app {
	height: auto;
    min-height: 100vh;
}

// Focal container for page-specific content
main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	width: 100%;
	max-width: 64rem; // How wide the page's main container is.
	margin: 0 auto;
	box-sizing: border-box;
}

// Used within main for pre-formatted content.
pre {
	color: white;
	font-size: 12px;
	font-family: var(--font-family);
	background-color: var(--color-secondary);
	box-shadow: var(--shadow-drop);
	overflow-x: auto;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	/* Background Stuff */
	background-attachment: fixed;
    background-color: var(--color-lblue-1);
    background: linear-gradient(
        180deg,
        var(--color-blue-4) 8%,
        var(--color-blue-3) 13%,
        var(--color-lblue-0) 77.77%,
        var(--color-blue-4) 89%,
        black 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
}

// div {
//     z-index: 500;
// }

.frame-slot {
	// z-index: -2;
    border: 2px solid white;
    border-radius: var(--corner-roundness);
    box-shadow: var(--shadow-drop);
    padding: 4px 4px 24px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

	transition: width 0.3s ease, height 0.3s ease;
}

input {
	font-size: inherit;
	font-family: var(--font-family);
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
