@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap") format("truetype");
}
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Oxygen-Sans, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-blue-0: #322FC9;
  --color-blue-1: #7674DD;
  --color-blue-2: #524FD1;
  --color-blue-3: #1714B2;
  --color-blue-4: #120F88;
  --color-gold-0: #FF9A1A;
  --color-gold-1: #FFC072;
  --color-gold-2: #FFAD46;
  --color-gold-3: #FF8E00;
  --color-gold-4: #C26C00;
  --color-lblue-0: #1E7FBE;
  --color-lblue-1: #66AAD6;
  --color-lblue-2: #3F92C8;
  --color-lblue-3: #0766A3;
  --color-lblue-4: #064E7C;
  --color-yellow-0: #FFC71A;
  --color-yellow-1: #FFDC72;
  --color-yellow-2: #FFD246;
  --color-yellow-3: #FFC000;
  --color-yellow-4: #C29300;
  --color-primary: #0a1829FF;
  --color-secondary: rgb(21, 49, 83);
  --color-tertiary: rgb(33, 79, 135);
  --color-accent: #3c80ffFF;
  --color-brand: #f7ca00FF;
  --color-text-heading: #f7ca00FF;
  --color-text: rgb(221, 235, 255);
  --gradient-1: linear-gradient( 180deg, var(--color-blue-4) 0%, var(--color-blue-0) 10.45%, var(--color-blue-1) 41.35% );
  --gradient-2: linear-gradient( 180deg, var(--color-gold-0) 0%, var(--color-blue-0) 10.45%, var(--color-blue-1) 41.35% );
  --gradient-3: linear-gradient(180deg, var(var(--color-blue-4) 0%, black 50%, var(--color-primary) 64%));
  --shadow-drop: 0px 0px 20px 0px rgba(0, 0, 0, 0.512);
  --shadow-inset: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.128);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  --corner-roundness: 0.64rem;
  --border-radius: 6px;
}

.debug-borders * {
  border: none;
}

.debug-borders *:hover {
  border: 2px solid red;
}

.debug-borders *:focus {
  border: 1px dashed blue;
}

.debug-borders *:active {
  border: 2px solid yellow;
}

.debug-borders *:focus-visible {
  border: 2px solid orange;
}

.debug-borders *:focus-within {
  border: 2px solid purple;
}

.debug-borders *:focus-visible:hover {
  border: 2px solid pink;
}

.debug-borders *:focus-within:hover {
  border: 2px solid lime;
}

.debug-borders *:focus-visible:focus-within {
  border: 2px solid cyan;
}

#svg-shape-gradient {
  --color-1: #ff00fe;
  --color-2: #00044f;
  --color-3: #0082ff;
  --color-4: #00e8ff;
}

@keyframes fadeOpacityIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Start above */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End in position */
  }
}
.fadeIn {
  animation: fadeIn 0.24s ease forward;
}

@keyframes wiggle-scale {
  0% {
    transform: scale(1.2) translateX(0);
  }
  25% {
    transform: scale(1.2) translateX(-2px) rotateY(8deg);
  }
  50% {
    transform: scale(1.2) translateX(1px) rotateX(0deg);
  }
  75% {
    transform: scale(1.2) translateX(-2px) rotateX(-12deg);
  }
  100% {
    transform: scale(1.2) translateX(0);
  }
}
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotateY(8deg);
  }
  50% {
    transform: translateX(1px) rotateX(0deg);
  }
  75% {
    transform: translateX(-2px) rotateX(-12deg);
  }
  100% {
    transform: translateX(0);
  }
}
.wiggle {
  animation: wiggle 1.2s ease-in-out;
  animation-fill-mode: forwards;
}

.container {
  padding: 0.88em;
  border-radius: var(--corner-roundness);
}

.container-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: var(--corner-roundness);
  box-shadow: var(--shadow-drop);
  border-collapse: collapse;
  padding: 12px;
}

.column {
  flex: 1;
  padding: 20px;
  border-radius: var(--corner-roundness);
  box-shadow: var(--shadow-drop);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-color: var(--color-primary);
  background: linear-gradient(var(--color-blue-4) 0%, var(--color-primary) 50%, black);
}

.flex-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background: var(--gradient-1);
}

.flex-grid-item {
  padding: 0.1em;
  margin: 0.1em;
  background-color: var(--color-blue-2);
  opacity: 0.5;
  transition: color 0.16s ease-in-out, opacity 0.16s ease-in-out;
}
.flex-grid-item:hover {
  opacity: 1;
}

button {
  font-size: inherit;
  font-family: var(--font-family);
  padding: 0.66rem 1.33rem;
  margin: 0.66rem 0;
  font-size: 1.33rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-blue-4);
  border: 1px solid transparent;
  border-radius: var(--corner-roundness);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
}
button:hover {
  transform: scale(1.02);
  color: var(--color-blue-3);
  background-color: var(--color-brand);
  box-shadow: 0 0 0.22rem var(--color-yellow-1);
  border-color: var(--color-yellow-1);
}
button:focus {
  color: var(--color-blue-3);
  background-color: var(--color-brand);
}
button:focus:not(:focus-visible) {
  box-shadow: 0 0 0.44rem white;
  outline: solid 0.1rem white;
}
button:active {
  color: white;
  transform: scale(1.08);
  box-shadow: 0 0 0.28rem white;
}

.button-narrow {
  margin-left: 0.16rem;
  margin-right: 0.16rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.24rem;
  font-size: 1.24rem;
}

img {
  opacity: 0.94;
  transition: transform 0.3s ease-in-out;
}
img:hover {
  opacity: 1;
}

svg {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.shape .svg-gradient-path {
  paint-order: stroke;
  stroke: #00044f;
  stroke-width: 1.42px;
  fill: url(#svg-shape-gradient);
  transition: transform 0.24s ease;
}

.shape:hover {
  transition: transform 0.08s ease;
  transform: scale(1.16);
}

.shape:active {
  transform: scale(1.87);
}

.shape .svg-gradient-path:hover {
  stroke: url(#svg-shape-gradient);
  fill: black;
}

.shape .svg-gradient-path-sub {
  fill: url(#svg-shape-gradient);
}
.shape .svg-gradient-path-sub:hover {
  fill: white;
}

h1 {
  color: var(--color-text-heading);
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

h2 {
  color: var(--color-text-heading);
  font-weight: 600;
  font-size: 1.6rem;
}

p {
  color: var(--color-text);
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: var(--color-brand);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.page-title {
  color: var(--color-text-heading);
  font-size: 4rem;
  font-weight: 600;
}

.page-description {
  color: var(--color-text);
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

ol {
  line-height: 1.6rem;
  color: var(--color-text);
}

li {
  list-style-type: disc;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  border-radius: var(--corner-roundness);
  box-shadow: var(--shadow-drop);
  border-collapse: collapse;
  padding: 12px;
  margin-bottom: 1.87rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  padding: 8px;
  text-align: center;
  border-radius: var(--corner-roundness);
  box-shadow: var(--shadow-drop);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-color: var(--color-primary);
  background: linear-gradient(var(--color-blue-4) 0%, var(--color-primary) 50%, black);
}

.card img {
  max-width: 100%;
  border-radius: var(--corner-roundness);
  transition: transform 0.3s ease;
  margin: 0.36em 0 0.12em 0;
}

.card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.22rem var(--color-accent);
}

.card img:active {
  transform: scale(1.16);
  box-shadow: 0 0 0.28rem white;
}

.card h2 {
  color: var(--color-brand);
  font-style: bold;
  font-weight: 700;
  font-size: 1.21rem;
  line-height: 0.5rem;
  letter-spacing: 0.064rem;
}

.card h3 {
  margin: 0.56rem 0 0.64rem 0;
  font-size: 0.94rem;
  color: var(--color-gold-3);
  line-height: 0.24rem;
}

.card p {
  margin: 0;
  font-weight: 500;
  color: var(--color-accent);
}

.card small {
  color: var(--color-text);
  font-weight: 500;
}

.card-buttons {
  order: 2;
}

.card button {
  font-size: 1.01rem;
  font-weight: 600;
  line-height: 0.5rem;
}

.frame-3d {
  overflow: visible;
  aspect-ratio: 16/9;
  position: fixed;
  width: 32vw;
  height: 32vh;
  max-width: 100vw;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  animation: fadeOpacityIn 2s ease-in forwards;
}

.canvas-3d {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: auto;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  box-sizing: border-box;
}

pre {
  color: white;
  font-size: 12px;
  font-family: var(--font-family);
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-drop);
  overflow-x: auto;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  /* Background Stuff */
  background-attachment: fixed;
  background-color: var(--color-lblue-1);
  background: linear-gradient(180deg, var(--color-blue-4) 8%, var(--color-blue-3) 13%, var(--color-lblue-0) 77.77%, var(--color-blue-4) 89%, black 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.frame-slot {
  border: 2px solid white;
  border-radius: var(--corner-roundness);
  box-shadow: var(--shadow-drop);
  padding: 4px 4px 24px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}

input {
  font-size: inherit;
  font-family: var(--font-family);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}/*# sourceMappingURL=styles.css.map */